// Color variables

$color-primary: #F09491;
$color-primary-light: #FFB1BB;
$color-primary-dark: #E73c3E;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #e896f3;
$color-tertiary-dark: #ca27bd;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

//Font sizes

$default-font-size: 1.6rem;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem; 
$gutter-horizontal: 6rem;